In [138]:
# Importing library
import pandas as pd
import numpy as np

In [139]:
print(pd.__version__)

1.4.2

<hr>

#### Create

from arrays

In [140]:
arr=[0,1,2,3,4]
s1=pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [141]:
order=[1,2,3,4,5] # We can have char index as well.['a','b','c','d','e']
s2=pd.Series(arr,index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [142]:
# modifying the index
s2.index=[2,3,4,5,6]
s2

2    0
3    1
4    2
5    3
6    4
dtype: int64

from dictionary

In [143]:
dic={'a': 12,'b': 13,'c': 14} # key values are taken as index in series 
s_dic=pd.Series(dic)
s_dic

a    12
b    13
c    14
dtype: int64

<hr>

#### Attributes

In [144]:
s_dic.a

12

In [145]:
# s2.2 gives an error

In [146]:
s2.values

array([0, 1, 2, 3, 4], dtype=int64)

In [147]:
s2.size

5

In [148]:
s2.empty # returns true if series is empty

False

#### Methods

In [149]:
s1.head() # displays first 5 records

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [150]:
s1.tail() # displays lasst 5 records

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [151]:
s2.count()

5

In [152]:
s2.isnull() # s2.notnull()

2    False
3    False
4    False
5    False
6    False
dtype: bool

<hr>

#### Indexing

In [153]:
s2

2    0
3    1
4    2
5    3
6    4
dtype: int64

In [154]:
s2[4] # 4 is index value  (0-order indexing is not followed)

2

<hr>

#### Slicing

In [155]:
s2

2    0
3    1
4    2
5    3
6    4
dtype: int64

In [156]:
print(s2[:3]) # 0-index is considered
print(s2[-1:])
print(s2[:-1])

2    0
3    1
4    2
dtype: int64
6    4
dtype: int64
2    0
3    1
4    2
5    3
dtype: int64

<hr>

#### Manipulation

In [157]:
s3=s1.append(s2)
print(s3)

0    0
1    1
2    2
3    3
4    4
2    0
3    1
4    2
5    3
6    4
dtype: int64

C:\Users\Teju\AppData\Local\Temp\ipykernel_18244\1579731757.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3=s1.append(s2)

In [158]:
s3.drop(4) # deletes the values where index is 4

0    0
1    1
2    2
3    3
2    0
3    1
5    3
6    4
dtype: int64

In [159]:
s3 # still has 4 (drop command does not modify the original series)

0    0
1    1
2    2
3    3
4    4
2    0
3    1
4    2
5    3
6    4
dtype: int64

In [ ]:
# s1[:]=0 - assigns 0 to all values

<hr>

#### Series Opeartions

In [160]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [161]:
s2

2    0
3    1
4    2
5    3
6    4
dtype: int64

In [162]:
s1.add(s2) # Operation is applied on values with same index vlaues in both the series 
# similarly : s1.subtract(s2)   s1.multiply(s2)    s1.divide(s2)

0    NaN
1    NaN
2    2.0
3    4.0
4    6.0
5    NaN
6    NaN
dtype: float64

In [163]:
s1.multiply(s2,fill_value=0)

0    0.0
1    0.0
2    0.0
3    3.0
4    8.0
5    0.0
6    0.0
dtype: float64

In [164]:
print("median: ",s1.median())
print("mean: ",s1.mean())
print("max: ",s1.max())
print("min: ",s1.min())

median:  2.0
mean:  2.0
max:  4
min:  0

In [165]:
1 in s1

True

In [166]:
s1+3 # adds 3 to all elements in series

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [167]:
s1[s1>2] # returns a subset of values having value >2

3    3
4    4
dtype: int64

In [177]:
np.exp(s1) # np.fabs(s1)    np.sqrt(s1)

0     1.000000
1     2.718282
2     7.389056
3    20.085537
4    54.598150
dtype: float64

<hr>

#### Strings

In [183]:
string = pd.Series(['A','B','C','Aaa',np.nan])
string

0      A
1      B
2      C
3    Aaa
4    NaN
dtype: object

In [184]:
string.str.upper() # modifies original string
# string.str.lower()

0      A
1      B
2      C
3    AAA
4    NaN
dtype: object

<hr>

### Question

Create a series test using the following data.

In [189]:
s= pd.Series([10000,20000,30000,20000,10000,60000], 
             index=pd.MultiIndex.from_tuples(
                [('A',10), ('A',20),('A',30), 
                ('B',10), ('B',20),('B',30)]
            )
            )

In [190]:
s

A  10    10000
   20    20000
   30    30000
B  10    20000
   20    10000
   30    60000
dtype: int64

Display only the rows for which the value is greater than 20000 by using suitable slicing

In [173]:
for i in range(len(pop)):
    if pop[i]>20000:
        print(pop[i:i+1])

A  30    30000
dtype: int64
B  30    60000
dtype: int64

Convert the series test into numpy array data type : 'float 16' and display rhe contents of the data

In [174]:
arr=np.array(pop,dtype='float16') # converting series to array

In [175]:
print(arr)

[10000. 20000. 30000. 20000. 10000. 60000.]